/*Fonts from fonts.google*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Oldenburg&family=Unica+One&family=Viaoda+Libre&display=swap');

body {
	padding-top: 130px;

	background: linear-gradient(to right, #414345, #232526);
}

@media (max-width: 979px) {
	body {
		padding-top: 130px;
	}
}

.navbar {
	width: 100;
	height: 50;
}

.navbar .navbar-brand {
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}

.navbar-brand {
	font-family: 'Berkshire Swash', cursive;
	font-size: 2.45rem;
	color: #a98964
}

.navbar-brand:hover {
	transform: scale(0.9);
	transition: all 1s;
}

a {
	color: #a98964
}

.nav-link {
	font-size: 1.3rem;
	font-family: 'Berkshire Swash', cursive;
}

.nav-link:hover {
	transform: scaleY(1);
	transition: all 1s;
}

.dropdown-item {
	color: #a98964;
	font-family: 'Berkshire Swash', cursive;
}

.navbar-toggler {
	background-color: #a98964;
	color: wheat;
}

.jumbotron {
	background-image: url("./images/main.jpg");
	background-size: cover;
	height: 500px;
	border-radius: 15px 15px 15px 15px;
}

.jumbotron h2 {
	padding-top: 50px;
	font-family: 'Berkshire Swash', cursive;
	opacity: 65%;
	font-size: 3rem;
}

.jumbotron:hover {
	transform: scale(0.98);
	transition: all 3s;
}

.welcome {
	font-family: 'Viaoda Libre', cursive;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.701);
}

#hr-jb{
	width: 200px;
	margin: auto;
	height: 3px;
}

.btn:hover{
	transform: scale(0.95);
	transition: all 0.5s;
}

.staff-title{
	font-family: 'Berkshire Swash', cursive; 
}

#valid {
	color: rgb(31, 135, 31);
	display: none;
	font-size: 1.2rem;
	font-weight: bold;
}

#invalid {
	display: none;
	font-size: 1.1rem;	
	text-align: justify;
}

.img-user {
	border-radius: 15px 15px 15px 15px;
}

.menu-block {
	margin-bottom: 30px;
}

.menu-title {
	border-bottom: 2px solid #e0e6e3;
	margin-bottom: 36px;
	padding-bottom: 10px;
  	font-family: 'Berkshire Swash', cursive; 
}

.menu-content {
	border-bottom: 1px solid #e0e6e3;
	margin-bottom: 30px;
}

.dish-content {
	margin-top: 12px;
	margin-bottom: 40px;
}

.dish-meta {
	font-size: 12px;
	text-transform: uppercase;
	display: block;
	width: 210px;
	line-height: 1.7;
}

.dish-title {
	font-size: 17px;
	text-transform: uppercase;
	position: relative;
	color: #a98964;
}

.well-block .dish-meta {
	width: 100%;
}

.well-block .dish-price {
	font-size: 26px;
	color: #a98964;
	font-weight: 500;
	font-family: 'Zilla Slab', serif;
	position: inherit;
}

.page-title, .staff-title{
	color: #a98964;
	font-family: 'Berkshire Swash', cursive; 
}

.footer p {
	color: white;
	text-align: justify;
}

.footer h4{
	color: #a98964;
	font-family: 'Berkshire Swash', cursive; 
}
.footer a {
	color: #a98964;
	letter-spacing: 6px;
}

.pic1{
	background-image: url("./images/about-us1.jpg");
	background-size: cover;
	height: 500px;
	border-radius: 15px 15px 15px 15px;
}

.sub-title {
	font-family: 'Unica One', cursive;
}

.pic2{
	background-image: url("./images/about-us2.jpg");
	background-size: cover;
	height: 500px;
	border-radius: 15px 15px 15px 15px;
}

.pic3{
	background-image: url("./images/restaurant.jpg");
	background-size: cover;
	height: 500px;
	border-radius: 15px 15px 15px 15px;
}

.about-us{
	font-family: 'Viaoda Libre', cursive;
	font-size: 1.1rem;
	letter-spacing: 1.1px;
	text-align: justify;
	line-height: 1.9;
}